.header__burger {
  display: none;
}

@media (max-width: 1406px) {
  body.lock {
    overflow: hidden;
  }

  /*.header__navigation {
     justify-content: space-between;
    align-items: center; 
  }*/

  .header__response {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 11px 25px 0 20px;
  }

  .header_logo img {
    width: 95px;
    height: 38px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 28px;
    height: 20px;
    cursor: pointer;
    z-index: 6;
    order: 2;
  }

  .header__burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 1.64px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 1.64px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #ffffff;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #ffffff;
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 1.2s ease;
    overflow: auto;
    z-index: 5;
  }

  .header_menu.active {
    top: 0px;
  }

  .header_list {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .header_list img.logo__menu {
    display: block;
    width: 220px;
    height: 88px;
  }

  .header_list li {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    font-size: 14px;
    margin: 7.5px 0;
  }

  .header_link {
    color: #ffffff;
    margin-top: 10px;
  }

  .hide__contact {
    display: none;
  }

  .header_link:hover {
    color: #bf120e;
    transition: all 2s ease;
  }

  .contacts__menu.active {
    color: rgba(255, 255, 255, 1);
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 204px;
    border-top: 1px solid #ffffff;
    z-index: 5;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
  }

  .header__phone.active {
    margin-top: 20px;
    width: 179px;
    height: 25px;
    font-family: Montserrat;
  }

  .header__mail.active {
    margin-top: 10px;
    display: block;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    width: 188px;
    height: 20px;
    font-family: Montserrat;
  }

  .header__social.active {
    width: 228px;
    height: 42px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .social__facebook {
    width: 42px;
    height: 42px;
    background: url(../assets/social/fb.svg);
  }

  .social__facebook:hover {
    background: url(../assets/social/fb_silver.svg);
    transition: all 2s ease;
  }

  .social__viber {
    width: 42px;
    height: 42px;
    background: url(../assets/social/viber.svg);
  }

  .social__viber:hover {
    background: url(../assets/social/viber_silver.svg);
    transition: all 2s ease;
  }

  .social__inst {
    width: 42px;
    height: 42px;
    background: url(../assets/social/inst.svg);
  }

  .social__inst:hover {
    background: url(../assets/social/inst_silver.svg);
    transition: all 2s ease;
  }

  .social__tg {
    width: 42px;
    height: 42px;
    background: url(../assets/social/tg.svg);
  }

  .social__tg:hover {
    background: url(../assets/social/tg_silver.svg);
    transition: all 2s ease;
  }
}
